/*
owl-carousel style
*/
body {
  margin: 0 auto;
}

.owl-carousel.owl-theme .owl-nav .owl-next, .owl-carousel.owl-theme .owl-nav .owl-prev {
  height: 56px;
  width: 56px;
  position: absolute;
  top: 40%;
  z-index: 2;
  cursor: pointer;
  display: block;
  background-repeat: no-repeat;
  opacity: 0.7;
  outline: none;
}

.owl-carousel.owl-theme .owl-nav .owl-next:hover, .owl-carousel.owl-theme .owl-nav .owl-prev:hover {
  outline: none;
}

.owl-carousel.owl-theme .owl-nav .owl-next span, .owl-carousel.owl-theme .owl-nav .owl-prev span {
  display: none;
}

.owl-carousel.owl-theme {
  background-color: #fce300;
  color: #000;
  text-align: center;
  padding-top: 85px;
  font-size: 18px;
  font-style: italic;
  font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
}
.owl-carousel.owl-theme .owl-dots {
  padding-bottom: 47px;
  padding-top: 17px;
  background-color: #fce300;
}
.owl-carousel.owl-theme .owl-nav .owl-prev {
  left: 35px;
  background-image: url(../images/VTSL-slider-arrow-left-1x.png);
}
.owl-carousel.owl-theme .owl-nav .owl-next {
  right: 35px;
  background-image: url(../images/VTSL-slider-arrow-right-1x.png);
}
.footer-font {
  color: #000;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .owl-item blockquote {
    margin: 0 auto;
    width: 88%;
  }

  .owl-carousel.owl-theme .owl-nav {
    display: none;
  }
}
.owl-item blockquote {
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .owl-item blockquote {
    width: 60%;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .owl-item blockquote {
    width: 65%;
  }
}
@media (min-width: 1200px) {
  .owl-item blockquote {
    width: 80%;
  }
}